/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    background-color: #074EEB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
#logo {
    flex: 1;
}

#logo img {
    width: 200px;
}

/* Estilo do campo de busca */
.input-nav input[type="text"] {
    padding: 10px 35px; /* Aumenta o padding para esticar o campo */
    border-radius: 15px; /* Reduz o border-radius para torná-lo mais retangular */
    border: none;
    margin-right: auto; /* Centraliza o campo */
    margin-left: auto; /* Centraliza o campo */
    width: 100%; /* Define a largura do campo */
}

/* Estilo da lista de links */
.manu {
    flex: 2;
}

.manu ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

.manu ul li {
    margin-right: 10px;
}

.manu ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.manu ul li a:hover {
    background-color: #ffffff;
    color: #074EEB;
}

/* Estilo dos botões de cores */
#cores {
    display: flex;
}

.cor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    border: none;
}







/* Estilizando  Primeira sessao da minha home */

section {
    padding: 5% 10%;
}

/* Estilo específico para a seção principal */
.main-home {
    width: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo do texto dentro da seção principal */
.main-texto {
    max-width: 50%; /* Limita a largura do texto a 50% da tela */
    padding-right: 20px; /* Adiciona um espaço à direita do texto */
}

.main-texto h5 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
}

.main-texto h1 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
}

.main-texto p {
    color: #000000;
    font-size: 16px;
    margin-bottom: 30px;
}

.main-btn {
    display: inline-block;
    background-color: #074EEB;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main-btn:hover {
    background-color: #fff;
    color: #074EEB;
}

/* Estilo da imagem dentro da seção principal */
.main-imagem {
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    justify-content: flex-end; /* Alinha a imagem à direita */
}

.main-imagem img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto;
}

.down-arrow{
    position: absolute;
    top: 85%;
    right: 85%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: #074EEB;
    color: #fff;
    transition: all .42 ease;
}

header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 / 10%);
}





/* Produtos */

.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span{
    color: #074EEB;
}


.Produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}


.row{
    position: relative;
    transition: all .40s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}


.row img:hover{
    transform: scale(0.9);
}


.Produto-texto h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}


.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover{
    color: #EE1C47;
}

.ratting i{
    color: #FF8C00;
    font-size: 18px;
}

.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}